#!/usr/bin/env bash

export SIDE_SCRIPTS_DESTINATION="/backup"

export DST_REMOTE_LOCATION='root@example.org:/data/backup'
export DST_LOCAL_MOUNT_POINT='/backup'

# they should match with the filesystem mount points
export SRC_DIRECTORIES="/ /boot"

export ATTIC_EXCLUDE_FILE="excludes.txt"

export ATTIC_PRUNE_AGES="--keep-daily=7 --keep-weekly=4 --keep-monthly=4"

